.dessertOuterContainer{
    background-color: bisque;
    height: 100%;
    /* padding: 50px 50px 200px; */
}

.dessertPage{
    width: 70%;
    margin: 0px auto;
}

.arrowContainer{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

#backArrow{
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 50px;
}

#backArrow:hover{
    color: var(--secondaryColor);
}

.dateLinkContainer{
    display: flex;
    font-size: 20px;
    gap: 5px;
    margin-bottom: 50px;
}

.dessertName{
    font-size: 50px;
}

.dessertDesc{
    font-size: 25px;
    margin-bottom: 50px;
}

.dessertImgContainer{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.dessertImgContainer img{
    width: 350px;
    /* width: 100%; */
}

.imgCaption{
    text-align: center;
    color: rgb(29, 29, 29);
    padding-bottom: 50px;
}

@media(max-width: 500px){
    .dessertOuterContainer{
        padding: 40px 40px 200px;
    }
    .dessertPage{
        width: 100%;
    }

    #backArrow{
        margin-left: 0px;
    }

    .dessertName{
        font-size: 40px;
    }

    .dateLinkContainer{
        flex-wrap: wrap;
        margin-top: 10px;
        font-size: 18px;
    }

    .dessertDesc{
        font-size: 20px;
    }
    
    .dessertImgContainer{
        flex-wrap: wrap;
    }
    .dessertImgContainer img{
        width: 100%;
    }
}