.homePage{
    /* background-image: url("../assets/desertBackground.png");
    background-size: auto;
    background-repeat: repeat; */
    background-color: rgb(255, 221, 181);
    padding: 20px 0 50px 0;
}

.homePage header{
    text-align: center;
    font-size: 30px;
    background-color: bisque;
    width: 80%;
    max-width: 1620px;
    margin: 0 auto;
    border: 4px solid;
    border-radius: 10px;
}

.homePage header h1{
    color: rgb(31, 31, 31);
    padding-top: 20px;
}

.homePage .titleIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cactusIcon{
    font-size: 60px;
    margin-top: 20px;
    color: rgb(64, 160, 64);
}

.homePage header p{
    color: rgb(41, 41, 41);
    font-size: 25px;
    padding: 0px 30px 10px;
}

.allMemoriesContainer{
    display: flex;
    padding: 20px 0px;
    gap: 20px;
    width: 80%;
    max-width: 1620px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.memoryContainer{
    border: 4px solid;
    border-radius: 10px;
    width: 31%;
    background-color: bisque;
    height: fit-content;
}

.memoryImg{
    width: 100%;
    height: 300px; 
    object-fit: cover; /* Makes picture not distorted */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.memoryInfo{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.iconDate{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(78, 78, 78);
}

.recipeContainer{
    display: flex;
    align-items: center;
    color: black;
    gap: 5px;
}

.recipeContainer:hover{
    color: var(--secondaryColor);
}

.memoryNotes{
    color: rgb(108, 107, 107);
}

.recipeReadmore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.line{
    border: 1px solid;
    margin: 10px 0px;
    color: rgb(193, 172, 145);
}

.readMoreBtn{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid black;
    background-color: bisque;
}

.readMoreBtn:hover{
    background-color: var(--secondaryColor);
    color: white;
}

/* Width for phones */
@media (max-width: 500px) {
    .memoryContainer{
        width: 100%; 
    }
    
    .homePage h1{
        font-size: 35px;
    }

    .cactusIcon{
        font-size: 35px;
    }

    .homePage header p{
        font-size: 18px;
    }

    .homePage h2{
        font-size: 25px;
    }

    .memoryDate{
        font-size: 18px;
    }

    .memoryNotes{
        font-size: 18px;
    }

    img{
        width: 100%;
    }
}
