#newMemoryBtn{
    background-color: rgb(63, 197, 221);
    border: none;
    cursor: pointer;
    opacity: 0;
}

.newMemForm{
    background-color: white;
}

.homePage {
    background-image: url("../assets/desertBackground.png"); /* Replace with the correct path to your image */
    background-size: auto;
    background-repeat: repeat;
}


.homePage header{
    text-align: center;
    font-size: 30px;
    padding: 2% 20%;
    background-color: bisque;
    opacity: 0.9;
    width: 50%;
    margin: 2% auto;
    border: 5px solid;
    border-radius: 5px;
}

.homePage header h1{
    color:rgb(0, 0, 0);
}

.allMemoriesContainer{
    /* background-color: pink; */
    display: flex;
    padding: 20px 50px 50px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Width for phones */
@media (max-width: 800px) {
    .memoryContainer {
        width: 100% !important; 
    }
    .homePage header{
        font-size: 20px;
    }
    .homePage header p{
        font-size: 18px;
    }

}

.memoryContainer{
    padding: 20px;
    border-radius: 5px;
    width: 15%;
    background-color: bisque;
    opacity: 0.9;
    border: 5px solid;
}

.recipeTitleLink{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-size: 20px;
}

#linkIcon{
    font-size: 30px;
    color: black;
}

#linkIcon:hover{
    color: rgb(85, 16, 16);
}

.memoryDate{
    font-style: italic;
}

.memoryNotes{
    font-size: 20px;
    margin: 10px 0px;
}

img{
    width: 100% !important;
}

.line{
    border: 1px solid;
    margin: 10px 0px;
}

.formImg{
    width: 50% !important;
}

